
a{
    text-decoration: none;
    color: inherit;
}

body{
    background-image: url(../images/background\ 1.png);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
}
.container {
    width: 1030px;
    margin: 0 auto;
}


/* -----------------------header----------------- */

.header{
    display: flex;
    justify-content: space-between;
    color: #FFF;
    font-style: normal;
    font-weight: 700;
    padding: 46px 0 17px;  
}


.logo{
    display: flex;
    flex-direction: column;
    transition-duration: 300ms;
    padding-left: 61px;
    position: relative;
}

.logo::before{
    content: "";
    background-image: url(../images/logosvg.svg);
    display: block;
    width: 53px;
    height: 47px;
    position: absolute;
    top: 0;
    left: 0;
}

.logo:hover{
    color:  #F26522;
    transition-duration: 300ms; 
}

.logo:hover::before{
    background-image: url(../images/logo\ 2.png);
    transition-duration: 300ms;
}

.lodo-text-m{
    font-size: 29px;
    line-height: 29px;
}

.logo-text-h{
    font-size: 18px;
    line-height: 18px;
}

.contacts{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}
.mail:hover{
    color: #F26522;
    transition-duration: 300ms;
}

.tel:hover{
    color: #F26522;
    transition-duration: 300ms;
}


/* ------------main------------- */

.tours{
    display: flex;
    flex-wrap: wrap;
    gap: 57px;
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}
.tours img{
    width: 300px;
    height: 220px;
}

.decoration-img{
    position: relative;
    overflow: hidden;
}

.decoration:hover .detailes{
    opacity:1;
    transition-duration: 300ms;
    bottom: 0;   
}

.detailes{
    position: absolute;
    background-color: #F26522;
    width: 304px;
    bottom: -57px;
}

.decopation-text{
    margin-top: 20px;
}

.from{
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 10px; 
    text-align: start;
    padding: 7px 0 8px 16px;
}

.view-detailes{
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px; 
    display: flex;
    justify-content: space-between; 
    padding:0 14px 12px 16px ;
}

.view-detailes span{
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.view-detailes p{
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
}

.view-detailes p::after{
    content: url(../images/Vector\ 1.png);
    display: inline-block;
    width: 5px;
    height: 10px;
    stroke-width: 1px;
    stroke: #FFF;
    padding-left: 16px;
}

.decoration:hover .decopation-text{
    color: #F26522;
    transition-duration: 500ms;
}



/* -----------footer------------ */

.footer{
    color: #FFF;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
    padding: 49px 0 15px;
}




.decoration img{
    border-width: 2px 2px 2px 2px;
    border-image: linear-gradient(45deg, black 0%, white 100%);
    border-image-slice: 9;
    border-style: solid;
}